.order-grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}
.order-grid-container > div {
  text-align: center;
  font-size: 30px;
}
.order-grid-container1 {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}
.order-grid-container1 > div {
  text-align: center;
  font-size: 30px;
}

.grid-container-row {
  display: grid;
  grid-template-row: auto auto auto auto auto auto auto;
  grid-gap: 50px;
  padding: 30px;
}
.grid-container-row > div {
  text-align: center;
  font-size: 30px;
}
